* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding: 15px;

    height: 100vh;
    gap: 10px
}

header {
    display: flex;
    height: 10%;
    width: 100%;
    /*margin-bottom: 10px;*/

    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

    justify-content: center;
    align-items: center;

    border: 2px black solid;
}

nav div {
    display: flex;
    justify-content: center;
    /*margin-bottom: 10px;*/

    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;

    border: 2px black solid;

}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    height: 80%;

    /*margin-bottom: 10px;*/
}

.content {
    display: flex;
    width: 100%;
    gap: 10px;
}

article {
    display: flex;
    width: 70%;
    border: 2px black solid;
    /*margin-right: 20px;*/

    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

    justify-content: center;
    align-items: center;
}

aside {
    display: flex;
    width: 30%;

    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

    justify-content: center;
    align-items: center;

    border: 2px black solid;
}

footer {
    display: flex;
    width: 100%;

    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

    justify-content: center;
    align-items: center;

    border: 2px black solid;
}